<div class="container-fluid pt-2">
  <div class="row">

    <div class="col-lg-2 col-md-4 col-sm-6 leftside">

      <div class="row ps-3">
        <div>
          <img src="../../../assets/image/ads.jpg" alt="test">
        </div>
        <div class="mt-3 mb-3">
          <p style="font-weight: bold;">{{'Brands'| translate}}</p>
          <ng-container *ngFor="let checkbox of checkBoxArrayForBrand">
            <input type="{{checkbox.type}}" value="{{checkbox.Name}}" (change)="onChange($event)">
            {{currentLang == 'en'?checkbox.Name:checkbox.ArName}}

            <br>
          </ng-container>
        </div>
        <hr>
        <div class="p-1 priceLinks mt-1">
          <p style="font-weight: bold;">{{'Price'| translate}}</p>
          <ng-container *ngFor="let Pcheckbox of checkBoxArrayForPrice">
            <input type="{{Pcheckbox.type}}" value={{Pcheckbox.priceRange}} (change)="onChangePrice($event)">
            {{Pcheckbox.price}}


            <br>
          </ng-container>

        </div>
      </div>

    </div>

    <div class="col-lg-10 col-md-8 col-sm-6">
      <div class="p-3">
        <p style="font-weight: bold;"> {{'FIND YOUR Product' | translate}}</p>
        <button class="btn btn-secondary m-1" (click)="getprod(0)">{{'All' | translate}}</button>
        <ng-container *ngFor="let item of allCategoriesList">
          <!-- *ngIf="currentLang == 'en'" -->
          <div style="display:inline-block">
            <button class="btn btn-secondary m-1"
              (click)="getprod(item.id)">{{currentLang == 'en'? item.name: item.name_AR}}</button>
          </div>
          <!-- <div *ngIf="currentLang == 'ar'" style="display:inline-block">
            <button class="btn btn-secondary m-1" (click)="getprod(item.id)">{{item.Name_AR}}</button>
          </div> -->
        </ng-container>


      </div>
      <div class="row p-3">
        <p style="font-size: large; font-weight: bold;">{{'Results'| translate}}</p>
      </div>
      <hr>

      <div class="row">

        <ng-container
          *ngFor="let item of FilteredProductList | paginate : {itemsPerPage:4, currentPage: p} | filter:searchkey:'name'">
          <!-- English Language  -->
          <div class="col-xl-3 col-lg-4 col-md-6 mb-3 ms-md-0">
            <div class="card" style="width: 18rem;">

              <div class="text-center">
                <a class="" (click)="goTodetails(item.id)" role="button">
                  <!-- <img class="img-fluid" [src]="URL + item.picture" alt="Card image cap"> -->
                  <img class="img-fluid" [src]="item.picture" alt="Card image cap">
                </a>
              </div>

              <div class="card-body">
                <h5 class="card-title"
                  style="white-space:nowrap; overflow:hidden; text-overflow: ellipsis; max-width: 100ch;">
                  {{currentLang == 'en'? item.name: item.name_AR}}
                </h5>
                <p class="card-text">{{'Price'|translate}} :
                  {{currentLang == 'en'?(item.price | currency : "USD") : (item.price * 15 | currency : "EGP")}}</p>
                <p class="card-text">{{'Shiping'|translate}}: {{ currentLang == 'en'? item.shipping: item.shipping_AR}}
                </p>
                <div class="col mb-2 text-center">
                  <button class='btn btn-danger' (click)="decrease(item)">-</button>
                  <a style="text-decoration:none; color:black;margin:0 10px">{{item.quantity}}</a>
                  <button class='btn btn-success' (click)="increase(item)">+</button>
                </div>
                <div class="text-center">
                  <button class="btn btn-primary px-5" (click)="addtoCart(item)">{{'Add to Cart'| translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>





        <!-- Arabic Language -->
        <!-- <div class="col-lg-3 mb-3 " *ngIf="currentLang == 'ar'">
            <div class="card" style="width: 18rem;">

              <div class="text-center">
                <a class="" (click)="goTodetails(item.id)" role="button">
                  <img class="img-fluid" [src]="item.picture" alt="Card image cap">
                </a>
              </div>

              <div class="card-body">
                <h5 class="card-title"
                  style="white-space:nowrap; overflow:hidden; text-overflow: ellipsis; max-width: 100ch;">
                  {{item.name_AR}}
                </h5>
                <p class="card-text">{{'Price'|translate}} : {{item.price | currency : "USD"}}</p>
                <p class="card-text">{{'Shiping'|translate}}: {{item.shipping_AR}}</p>
                <div class="col"> <button (click)="decrease(item)">-</button><a
                    class="border">{{item.quantity}}</a><button (click)="increase(item)">+</button> </div>
                <div class="text-center">
                  <button class="btn btn-primary px-5" (click)="addtoCart(item)">{{'Add to Cart'| translate}}</button>
                </div>
              </div>
            </div>
          </div> -->


        <div>
          <pagination-controls (pageChange)="p = $event"> </pagination-controls>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- <section class="w-100 d-flex justify-content-center">
  <button class="back-to-top small-txt">
    <a routerLink="/orders">Back to Top</a>

  </button>
</section> -->
