<footer class="footer-sec mt-5">
  <!--
  <section class="w-100 d-flex justify-content-center">
    <button class="back-to-top small-txt">
      <a>Back to Top</a>

    </button>
  </section> -->


  <section class="w-100 text-light d-flex justify-content-center algin-items-center about-amazon-sec">
    <div>
      <p>Get to Know Us</p>
      <p>
        <a href="" class="text-light small-txt">About Amazon</a>
      </p>
      <p>
        <a href="" class="text-light small-txt">Careers</a>
      </p>
    </div>

    <div>
      <p>Shop with Us</p>
      <p>
        <a href="" class="text-light small-txt">Your Account</a>
      </p>
      <p>
        <a href="" class="text-light small-txt">Your Orders</a>
      </p>

      <p>
        <a href="" class="text-light small-txt">Your Addresses</a>
      </p>

      <p>
        <a href="" class="text-light small-txt">Your Lists</a>
      </p>
    </div>

    <div>
      <p>Make Money with Us</p>
      <p>
        <a href="" class="text-light small-txt">Sell on Amazon</a>
      </p>
      <p>
        <a href="" class="text-light small-txt">Fulfillment by Amazon</a>
      </p>
    </div>

    <div>
      <p>Let Us Help You</p>
      <p>
        <a href="" class="text-light small-txt">Help</a>
      </p>
      <p>
        <a href="" class="text-light small-txt">Shipping & Delivery</a>
      </p>

      <p>
        <a href="" class="text-light small-txt">Returns & Replacements</a>
      </p>

      <p>
        <a href="" class="text-light small-txt">Amazon App Download</a>
      </p>
    </div>

  </section>

  <hr style="border: 1px solid white;">

  <section class="w-100 pt-1 pb-4 text-light d-flex justify-content-center algin-items-center">
    <div>All Copy Rights Reserved &COPY; Team 2</div>
  </section>

</footer>
