<footer class="footer-sec ">
  <!--
  <section class="w-100 d-flex justify-content-center">
    <button class="back-to-top small-txt">
      <a>Back to Top</a>

    </button>
  </section> -->


  <section class="w-100 text-light d-flex justify-content-center algin-items-center about-amazon-sec">
    <div>
      <p>{{'Get to Know Us'|translate}}</p>
      <p>
        <a href="" class="text-light small-txt">{{'About Amazon'|translate}}</a>
      </p>
      <p>
        <a href="" class="text-light small-txt">{{'Careers'|translate}}</a>
      </p>
    </div>

    <div>
      <p>{{'Shop with Us'|translate}}</p>
      <p>
        <a routerLink="profile" class="text-light small-txt">{{'Your Account'|translate}}</a>
      </p>
      <p>
        <a routerLink="orders" class="text-light small-txt">{{'Your Orders'|translate}}</a>
      </p>

      <p>
        <a href="" class="text-light small-txt">{{'Your Addresses'|translate}}</a>
      </p>

      <p>
        <a href="" class="text-light small-txt">{{'Your Lists'|translate}}</a>
      </p>
    </div>

    <div>
      <p>{{'Make Money with Us'|translate}}</p>
      <p>
        <a href="" class="text-light small-txt">{{'Sell on Amazon'|translate}}</a>
      </p>
      <p>
        <a href="" class="text-light small-txt">{{'Fulfillment by Amazon'|translate}}</a>
      </p>
    </div>

    <div>
      <p>{{'Let Us Help You'|translate}}</p>
      <p>
        <a href="" class="text-light small-txt">{{'Help'|translate}}</a>
      </p>
      <p>
        <a href="" class="text-light small-txt">{{'Shipping & Delivery'|translate}}</a>
      </p>

      <p>
        <a href="" class="text-light small-txt">Amazon App Download</a>
      </p>
    </div>

  </section>

  <hr style="border: 1px solid white;">

  <section class="w-100 pt-1 pb-4 text-light d-flex justify-content-center algin-items-center">
    <div>{{'All Copy Rights Reserved'|translate}} &COPY; {{'Team 2'| translate}}</div>
  </section>

</footer>
