<div class="container m-5">
  <div class="card text-center ">

    <h1 class="mt-5">{{'Your Order made Successfully'|translate}}
      <img src="../../../assets/success.png" alt="Success">
    </h1>



    <div class="row m-5">

      <div class="col-6">
        <a routerLink="/Home"> <button class="btn btn-success">{{'Go to Home Page'|translate}} </button></a>
      </div>

      <div class="col-6">
        <a routerLink="/orders"> <button class="btn btn-primary">{{'Go to Orders Page'|translate}} </button></a>
      </div>

    </div>


  </div>
</div>
