a{
    display: block;
    text-decoration: none;
    color: black;
}
a:hover{
    color: orange;
}

.firstnav {
    background-color: #131921;
}

#deliver {
    float: right;
}

#deliver p {
    font-size: .7em;
    margin: 0;
}

#deliver span {
    font-weight: 600;
}


.alllink {
    max-width: 40px;
    
}

.alllink a {
    border-radius: 5px 0 0 5px;
    background-color: #DADADA;
    padding:8px
}

.navbar input {
    min-height: 40px;
    min-width: 750px;
}

/********** Start Second Nav bar **************/
#secnav {
    background-color: #232F3E;

}
#secnav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
#secnav ul li {
    margin:10px 20px;
    padding: 5px;
    cursor: pointer;
}
#secnav ul li:hover {
    background-color: #767f8a;
}
#secnav ul li a {
    text-decoration: none;
}
.open {
    color: white;
    cursor: pointer;
    width: 70px;
}

.fsize a{
    font-size: 16px;
}


/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */
.sidenav a {

    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*********** End  Second Nav bar ************/


.navbar .btn-success {
    background-color: #F3A847;
}

.navbar form img {
    max-width: 23px;
}

.countries {
    max-width: 80px;
}

.countries img {
    max-width: 30px;
}

.signin div,
.signin span {
    color: white
}

.signin #sign,
#return {
    font-size: 12px;
    font-weight: 400px;
}

#navbarbold {
    font-weight: 700;
    font-size: 14px;
}

footer a {
    color: #fff;
}

footer .top {
    background: #37475a;
}

footer .top a {
    padding: 17px;
    width: 100%;
    display: inline-block;
}

footer .top a:hover {
    color: #fff;
    text-decoration: none;
}

footer .top:hover {
    background: #485769;
}

footer .center {
    margin: 0 auto;
    max-width: 1080px;
}

footer ul {
    margin: 30px 40px 30px 0;
    display: inline-block;
    vertical-align: top;
    list-style: none;
}

footer .middle {
    background: #232f3e;
}

footer .middle h3 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 0;
    font-size: 16px;
}

footer .middle li {
    position: relative;
}

// footer .middle .logo {
//     background: transparent url('../img/logo.png') no-repeat 0 0;
//     background-size: 76px;
//     width: 76px;
//     height: 23px;
//     display: block;
//     border: none !important;
//     margin-right: 60px;
//     position: absolute;
//     top: -14px;
//     left: -120px;
// }

footer .middle a {
    color: #ddd;
    font-size: 13px;
    display: block;
    padding: 5px 0;
    text-decoration: none;
}

footer ul.copy {
    display: inline-block;
    width: 100%;
}

footer ul.copy li {
    display: inline-block;
    margin-right: 20px;
    color: #999;
    font-size: 11px;
}

footer .middle .copy {
    border-top: 1px solid #3a4553;
    padding: 30px 20px 20px 20px;
}

footer .middle .copy a {
    padding: 10px 30px 10px 10px;
    color: #ccc;
    border: 1px solid #848688;
    border-radius: 3px;

}

footer .middle .copy a:hover {
    text-decoration: none;
    border-color: #8D9096;
}

footer .middle .fa-globe {
    margin-right: 5px;
}

footer .middle .flag-icon-us {
    background-image: url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/images/flags/us.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 1em;
    width: 1.33333333em;
    margin-right: 7px;
    background-position: 0 2px;
}

footer .bottom {
    background: #131a22;
}

footer .bottom ul {
    margin-right: 0;
}

footer .bottom li {
    margin-bottom: 15px;
}

footer .bottom a {
    color: #ddd;
    font-size: 11px;
    line-height: 11px;
    text-decoration: none;
}

footer .bottom a span {
    color: #999;
    font-size: 10px;
}