<div class="container">
    <div class="row justify-content-center">
        <!-- logo -->
        <section class="w-100 d-flex justify-content-center pt-3">
            <a href="#">
                <img class="logo-photo" src="../../../assets/amazon-logo-blacktxt.png" alt="">
            </a>
        </section>

        <!-- content for sign up -->
        <section class="d-flex  content-sec mt-5">
            <div class="d-flex justify-content-center flex-column">
                <p class="h2">Log In</p>
                <label class="h6" for="name-input">Email:</label>
                <input class="inpt" type="text" name="name-input" id="name-input">






                <div class="d-flex justify-content-center flex-column">
                    <label class="h6" for="name-input">Password</label>
                    <input class="inpt" type="password" name="password-input" id="password-input">
                </div>
                <div class="d-flex pt-1 small-text">
                    <i class="fa-solid fa-info text-primary mt-1"></i>
                    <p class="ms-2">Passwords must be at least 6 characters.</p>
                </div>
                <div class="btn">
                    <input class="singup-btn" type="submit" value="login">
                </div>
                <div class="line-div align-self-center"></div>
                <!-- <div>
                    <p>
                        <a href="signup.html">Sign in</a>
                    </p>
                </div> -->
            </div>
        </section>


        <!-- footer -->
        <footer class="d-flex justify-content-center flex-column small-text">
            <div class="line-div align-self-center mt-3 mb-3"></div>
            <div class="d-flex justify-content-center mb-3">
                <a href="" class="pe-3"> Conditions of Use</a>
                <a href="" class="pe-5">Privacy Notice</a>
                <a href="">Help</a>
            </div>
            <div class="d-flex justify-content-center">
                <p> &copy; 1996–2022, Amazon.com, Inc. or its affiliates</p>
            </div>
        </footer>
    </div>
</div>