<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order Date</th>
            <th scope="col">Delivery Date</th>
            <th scope="col">Address</th>
            <th scope="col">Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of order">
            <ng-container>
                <th scope="row">{{i.id}}</th>
                <td> {{i.orderDate}}</td>
                <td>{{i.DeliveryDate}}</td>
                <td>{{i.Address }}</td>
                <td>{{i.totalPrice | currency:"EGP"}}</td>
            </ng-container>
        </tr>
    </tbody>
</table>