<div class="container">
  <div class="row justify-content-center">
    <!-- logo -->
    <section class="w-100 d-flex justify-content-center pt-3">
      <a routerLink="/home">
        <img class="logo-photo" src="../../../assets/amazon-logo-blacktxt.png" alt="">
      </a>
    </section>

    <!-- content for sign up -->
    <section class="d-flex  content-sec mt-5">
      <form [formGroup]="customerFormGroup" (ngSubmit)="register()">
        <div class="d-flex justify-content-center flex-column">
          <p class="h2">Create Account</p>
          <label class="h6" for="name-input">user name</label>
          <input type="text" formControlName="userName" class="form-control inpt" name="userName" id="userName-input"
            [class.is-valid]="userName?.valid ||userName?.untouched " [class.is-invalid]="userName?.invalid">
          <div [hidden]="userName?.valid || userName?.untouched" class="alert alert-danger">
            <small *ngIf="userName?.errors?.['required']">
              User Name is required
            </small>
          </div>

          <label class="h6" for="name-input">first name</label>
          <input type="text" formControlName="firstName" class="form-control inpt" name="firstName" id="firstName-input"
            [class.is-valid]="firstName?.valid" [class.is-invalid]="firstName?.invalid">
          <div [hidden]="firstName?.valid || firstName?.untouched" class="alert alert-danger">
            <small *ngIf="firstName?.errors?.['required']">
              First Name is required
            </small>
          </div>

          <label class="h6" for="name-input">last name</label>
          <input type="text" formControlName="lastName" class="form-control inpt" name="lastName" id="lastName-input"
            [class.is-valid]="lastName?.valid" [class.is-invalid]="lastName?.invalid">
          <div [hidden]="lastName?.valid || lastName?.untouched" class="alert alert-danger">
            <small *ngIf="lastName?.errors?.['required']">
              last Name is required
            </small>
          </div>


          <label class="h6" for="Email-input">Email</label>
          <input type="email" formControlName="email" class="form-control inpt" name="email" id="email-input"
            [class.is-valid]="email?.valid" [class.is-invalid]="email?.invalid">
          <div [hidden]="email?.valid || email?.untouched" class="alert alert-danger">
            <small *ngIf="email?.errors?.['required']">
              email is required
            </small>
            <small *ngIf="email?.errors?.['email']">
              email must contain @ - Ex: example@gmail.com
            </small>

          </div>

          <div class="d-flex justify-content-center flex-column">
            <label class="h6" for="password-input">Password</label>
            <div class="d-flex">
              <input type="Password" #passwordInput formControlName="password" class="form-control inpt" name="password"
                id="password-input" [class.is-valid]="password?.valid" [class.is-invalid]="password?.invalid">
              <i class="fa-solid fa-eye align-self-center ms-3" (click)="despalyPassword()"></i>
            </div>
          </div>
          <div [hidden]="password?.valid || password?.untouched" class="alert alert-danger">
            <small *ngIf="password?.errors?.['required']">
              password is required
            </small>
            <small *ngIf="password?.errors?.['pattern']">
              at least one upper case <br> one lower case <br> at least one special charchter <br>at least
              one number <br> and length at least 8
              .
            </small>

          </div>


          <label class="h6" for="mobile-input">Mobile number</label>
          <div class="w-100 d-flex  justify-content-between">
            <input type="text" formControlName="phoneNumber" class="form-control inpt" name="phoneNumber"
              id="phone-input" [class.is-valid]="phoneNumber?.valid" [class.is-invalid]="phoneNumber?.invalid">
          </div>
          <div [hidden]="phoneNumber?.valid || phoneNumber?.untouched" class="alert alert-danger">
            <small *ngIf="phoneNumber?.errors?.['required']">
              phoneNumber is required
            </small>
            <small *ngIf="phoneNumber?.errors?.['pattern']">
              must start with 010 , 011 , 015 , 012 <br>
              mobile length = 11 number
            </small>
          </div>


          <label class="h6 mt-2" for="mobile-input">Gender</label>
          <div class="w-100 d-flex">
            <input type="radio" class="align-self-center" value="m" formControlName="gender" name="gender">
            <span>male</span>

            <input type="radio" class="align-self-center ms-4" value="f" formControlName="gender" name="gender">
            <span>female</span>
          </div>

          <label class="h6 mt-2" for="postalcode-input">PostalCode</label>
          <div class="w-100 d-flex">
            <input type="number" class="form-control inpt" formControlName="postalCode" name="PostalCode">
          </div>

          <label class="h6 mt-2" for="address-input">Address</label>
          <div class="w-100 d-flex">
            <input type="text" class="form-control inpt" formControlName="address" name="address"
              [class.is-valid]="address?.valid" [class.is-invalid]="address?.invalid">
          </div>
          <div [hidden]="address?.valid || address?.untouched" class="alert alert-danger">
            <small *ngIf="address?.errors?.['required']">
              Address is required
            </small>
          </div>

          <label class="h6 mt-2" for="city-input">City</label>
          <div class="w-100 d-flex">
            <input type="text" class="form-control inpt" formControlName="city" name="city">
          </div>

          <label class="h6 mt-2" for="street-input">Street</label>
          <div class="w-100 d-flex">
            <input type="text" class="form-control inpt" formControlName="street" name="street">
          </div>


          <div class="btn">
            <!-- <input class="singup-btn" [disabled]="customerFormGroup.invalid" type="submit" value="sing up"> -->
            <button type="submit" [hidden]="customerFormGroup.invalid" class="singup-btn">sing up</button>
          </div>
          <div class="line-div align-self-center"></div>
          <div>
            <p>
              Already have an account?
              <a routerLink="/login">sign in</a>
            </p>
          </div>
        </div>
      </form>
    </section>


    <!-- footer -->
    <footer class="d-flex justify-content-center flex-column small-text">
      <div class="line-div align-self-center mt-3 mb-3"></div>
      <div class="d-flex justify-content-center mb-3">
        <a href="" class="pe-3"> Conditions of Use</a>
        <a href="" class="pe-5">Privacy Notice</a>
        <a href="">Help</a>
      </div>
      <div class="d-flex justify-content-center">
        <p> &copy; 1996–2022, Amazon.com, Inc. or its affiliates</p>
      </div>
    </footer>
  </div>
</div>